.app-colour {
    flex: 1;
}

.colour-container {
  height: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.colour-code {
  font-family: 'Cutive Mono', monospace;
  font-size: 4rem;
  transition: 0.3s;
}

.change-colour-btn {
    cursor: pointer;
}
