<main>

    <div *ngFor="let colour of colours" class="colour-container" [style.background-color]="colour.hexString">
      <p class="colour-code" [style.color]="colour.textColour">
        {{colour.hexString}}
      </p>
      <span class="change-colour-btn"  [style.color]="colour.textColour">
        <i title="Change Colour" class="colour-btn fa fa-refresh" (click)="colour.changeColour()" aria-hidden="true"></i>
        <i title="{{colour.unlockBtnTitle}}" class="colour-btn fa " [ngClass]="{'fa-lock': colour.locked, 'fa-unlock-alt': !colour.locked}" (click)="colour.toggleLock()" aria-hidden="true"></i>
      </span>
    </div>

    <span title="Add new colour" class="add-new-btn" (click)="addNew()">+</span>
</main>
