.app-colour {
    flex: 1;
}

.colour-container {
  cursor: pointer;
  height: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.colour-code {
  cursor: text;
  font-family: 'Cutive Mono', monospace;
  font-size: 4rem;
  transition: 0.3s;
}